/* Mobile View*/
@media screen and (max-width: 715px) {
    .header {
        height:0px;
        /*background-image: url("../pictures/bathtub.jpg");*/
        background-size:cover;
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-color: #161618;
    }

    .slogan-bottom {
        font-size: 150%;
        font-weight: bold;
    }

    .header-brand {
        float:left;
        color: white;
        font-size: 80%;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 0px 0px 2px black;
        padding-top:8px;
    }  

    .header-navbar-links{
        color:white;
        float:right;
        margin-top: 37px; 
        display: none;
        width: 100%;
        margin-bottom: 37px;
        border-bottom: solid 1px white;
    }

    .iconBath {
        padding-left: 5px;
    }

    .header_button {
        margin-top: 36px;
        line-height: 38px;
        float: right;
        display: inline-block;
    }

    .buttonToogle {
        color: white;
        font-size: 15px;
        width: 247px;
    }

    .textboxBadwannen {
        color: black;
        width: 247px;
    }

    .calulatorButton {
        color: white;
        font-size: 15px;
        width: 247px;
    }

    .copyToClipboardButton {
        color: white;
        font-size: 15px;
        width: 247px;
    }

   
}

/* Desktop/Tablet View*/
@media screen and (min-width: 716px) {
    .header {
        height:0px;
        /*background-image: url("../pictures/bathtub.jpg");*/
        background-size:cover;
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-color: #161618;
    }

    .slogan-bottom {
        font-size: 300%;
        font-weight: bold;
    }

    .header-brand {
        float:left;
        color: white;
        font-size: 150%;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 0px 0px 2px black;
    }  

    .header-navbar-links{
        color:white;
        float:right;
        margin-top:44px;
        display: inline-block !important;
    }

    .header_button {
        display: none;
    }

}

.header_all {
    margin-top:-30px;
    display: block;
    height:80px;
    background: orangered;
}

.header-brand-wrapper {
    margin-top:36px;
    float:left;
}

.header-brand-wrapper img {
    float:left;
}

.iconBrand {
    color:white;
    text-align: left;
    
}

.header-navbar-links li{
    float:left;
    list-style-type: none;
    margin-left: 30px;
    font-size: 15px;
    text-shadow: 0px 0px 2px black;

}


body{
    background-color: #161618;
    margin:0px;
}

.containerBody {
    font-size: 20px;
    background-color: #969696;
    width: 600px;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    padding: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #7e7c7c
}

.menu{
    background-color: rgb(0, 0, 0);
    margin-top: 350px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left:auto;
    width: 410px;
    border-style: solid;
    border-color: rgb(59, 64, 77);
    border-width: 5px;
    border-radius: 5px;

}

.sidebar{
    border-style: solid;
    border-color: rgb(59, 64, 77);
    border-bottom-width: 5px;
    min-width: 100%;
    height: auto;
    background-color: azure;
    float: top;
    top:0px;
    position: fixed;
}

.slogan{
    color:white;
    text-align: center;
    text-shadow: 0px 0px 2px black;
    padding-top:150px;
}

.slogan-top{
    font-size: 170%;
    font-family: 'Tajawal', sans-serif;
}

.slogan-top a{
    color: white;
    text-decoration: none;
}



.botton-slogan {
    margin-top: 50px;
    color:white;
    text-shadow: 0px 0px 3px black;
}

.botton-slogan:hover {
    color:blue;
    text-shadow: 0px 0px 3px black;
}

.trennline {
    width: 100%;
    border-top: solid 1px white;
    padding-bottom: 25px;
}
.calcutorTop {
    margin-top:155px;
    padding-bottom: 100px;
    color:white;
    background-color: #161618;
    font-family: sans-serif;
    font-size: 100%;
}

.calcutorTop h2 {
    line-height: 1;
    text-align: left;
}

.textboxBadwannen {
    color: black;
    width: 247px;
}

.calulatorButton {
    color: white;
    font-size: 15px;
}

.copyToClipboardButton {
    color: white;
    font-size: 15px;
    width: 247px;
}

.buttonToogle {
    color: white;
    font-size: 15px;
}

.contactContainer {
    background-color: #161618;
    height:20px;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.showUnit {
    color: white;
    background-color:  #161618 !important;
}

.showUnit_toggle {
    color: white;
    background-color:  #161618 !important;
    display: none;
}

.header_navbar_withoutBlue {
    text-decoration: none;
    color: white;
}

.header_navbar_withoutBlue a{
    text-decoration: none;
    color: white;
}

.toggle {
    display: none;
}

.firstRow {
    display: none;
}
